.newsletter-signup__field-wrap {
  white-space: nowrap;
}

.advertisement {
  overflow: hidden;
}

.separator {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.separator .more-content-hd {
  max-width: none;
}

.divider {
  border: 0;
  background-color: #ededed;
  height: 1px;  
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding-30 {
  padding: 30px;
}

.pad-bottom {
  padding-bottom: 50px !important;
}

.banner-bg,
.banner-right-column,
.banner-tablet,
.banner-544x340 {
  background-color: #adaeae;
}

.banner-544x340 {
  height: 544px;
  width: 340px;
  margin: 15px auto 0 auto;
}

.btn {
  position: relative;
  border-radius: 8px;
  padding: 10px 30px;
}

.btn .icon-arrow-right {
  font-size: 0.5rem;
  margin-left: 0.3rem;
  padding-right: 3px;
}

.btn .icon-arrow-right:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn.back-to-top {
  background-color: #fff;
  border: 2px solid #69a19a;
  font-size: 1em;
  text-transform: none;
}

.button {
  background-color: #68a09a;
  color:#fff;
  border-radius: 8px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 14px;
}

.readmore {
  white-space: nowrap;
  font-family: 'Quadon Regular',Courier,sans-serif;
}

.paging {
  margin-bottom: 20px; 
}

.paging,
.paging a,
.back-to-top {
  font-family: 'Quadon Regular',Courier,sans-serif;
}

.paging,
.paging a,
.back-to-top {
  color: #69a19a;
}

.paging {
  margin-top: 20px;
}

.article-image {
  position: relative;
  margin: 0;
  padding: 0;
}

.article-image img {
  position: relative;
  width: auto;
  max-width: none;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.article-image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 62.5%;
}

.article-image > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.article-image.color-green {
  background: #69a19a;
  background: -moz-linear-gradient(top,  #69a19a 0%, #39605b 100%);
  background: -webkit-linear-gradient(top,  #69a19a 0%,#39605b 100%);
  background: linear-gradient(to bottom,  #69a19a 0%,#39605b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a19a', endColorstr='#39605b',GradientType=0 );
}

.article-image-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #000;
  color: #fff;
  white-space: nowrap;
  padding: 4px 16px;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cityguide .page-container,
.continents .page-container,
.local-experts .page-container,
.local-experts-article .page-container,
.local-experts-author .page-container {
  margin: 0 auto;
}

.cityguide .page-container,
.continents .page-container {
  padding-left: 0;
  padding-right: 0;
}

.cityguide section,
.continents section,
.local-experts section,
.local-experts-article section,
.local-experts-author section,
.cityguide .articles,
.continents .articles,
.local-experts .articles {
  position: relative;
}

.cityguide .one-up-nav,
.continents .one-up-nav{
  width: 620px;
  margin: 22px auto;
}

.cityguide .destination-page-header,
.continents .destination-page-header {
  padding-bottom: 0;
}

.cityguide .leaderboard-container,
.continents .leaderboard-container,
.local-experts .leaderboard-container,
.local-experts-article .leaderboard-container,
.local-experts-author .leaderboard-container {
  padding-bottom: 10px;
}

.cityguide .wb-page-header--top-cushion-sm,
.continents .wb-page-header--top-cushion-sm {
  padding-top: 0;
}

.cityguide .article-wrapper,
.continents .article-wrapper {
  position: relative;
  padding: 0 15px;
}

.cityguide-article-main > .row,
.cityguide .articles > .row,
.map-regions .row {
  margin-left: -7px;
  margin-right: -7px;
}

.cityguide-article-main > .row,
.cityguide .articles > .row {
  background-color: #fff;
}

.cityguide-article-main > .row {
  padding-right: 7px;
}

.cityguide .articles div[class^=col-],
.continents .articles div[class^=col-],
.map-regions div[class^=col-] {
  padding-left: 7px;
  padding-right: 7px;
}

.local-experts .articles div[class^=col-] {
  padding-left: 30px;
  padding-right: 30px;
}

.cityguide-info,
.local-experts-info {
  text-align: center;
  margin-bottom: 50px;
}

.local-experts-info {
  margin-top: 20px;
}

.cityguide-info p,
.local-experts-info p {
  font-weight: 700;
  font-size: 15px;
  line-height: 2.2em;
}

.cityguide-info .grid__item__read-more {
  color: #69a19a;
}

.cityguide-info .grid__item__read-more:hover {
  color: #e7745c;
}

.cityguide-info p {
  margin-left: 30px;
  margin-right: 30px;
}

.cityguide .one-up-nav .nav-filter,
.continents .one-up-nav .nav-filter {
  width: 100%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.cityguide .container,
.continents .container,
.local-experts .container {
  width: 100%;
}

.article-no-border h2,
.article-no-border h3,
.article-no-border h4,
.continents-article h2,
.continents-article h3,
.continents-article h4,
.continents-article p,
.cityguide-article h2,
.cityguide-article h3,
.cityguide-article h4,
.cityguide-article p,
.cityguide-article .article-image-caption {
  font-family: "Flama Book",Helvetica,Arial,sans-serif;
}

.cityguide {

}

.cityguide-article .grid__item__read-more {
  white-space: nowrap;
}

.cityguide-article h2,
.cityguide-article h3,
.cityguide-article h4 {
  line-height: 1.2em;
  margin: 16px 0 4px 0;
}

.cityguide .info h1,
.cityguide .info h2,
.cityguide .info h3 {
  font-family: "Questa Regular",Georgia,serif;
  font-weight: 700;
}

.cityguide-info p {
  font-family: 'Quadon Regular',Courier,sans-serif;
}

.cityguide .articles {
  background-color: #fff;
}

.cityguide-article {
  position: relative;
  padding: 20px 20px 4px 20px;
  margin-bottom: 14px;
  background-color: #f7f8f8;
}

.cityguide-article p {
  font-size: 16px;
}

.cityguide .article-wrapper .main-column {
  margin-left: -7px;
  margin-right: -7px;
  padding-right: 314px;
}

.cityguide .article-wrapper .right-column {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 15px 15px 15px;
}

.continents .container {
  padding: 0 30px;
}

.continents .map-regions {
  position: relative;
}

.continents .articles {
  margin: 0 -7px;
}

.continents .article-wrapper .main-column,
.continents .map-regions .main-column {
  padding-right: 314px;
}

.continents .article-wrapper .right-column,
.continents .map-regions .right-column {
  position: absolute;
  top: 0;
  right: 0;
}

.continents .border-bottom {
  border-bottom: 2px solid #d2d4d3;
}

.continents .more-content-wrapper {
  padding-top: 30px;
}

.articles-continents {
  background-color: #fff;
  margin-top: -14px;
}

.continents-article {
  position: relative;
  padding: 20px 20px 4px 20px;
  margin-top: 14px;
  background-color: #f7f8f8;
}

.continents-article .footer {
  padding: 0 20px;
}

.continents-article {
  padding-bottom: 0;
}

.continents-article.fixed-height {
    min-height: 515px;
}

.continents-article .button {
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-weight: 700;  
}

.article-no-border {
  background-color: transparent;
  padding: 0 0 20px 0;  
}

.article-no-border,
.continents .article-location {
  margin-bottom: 30px;
}

.continents .article-location .article-image-caption {
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-size: 25px;  
}

.continents .article-location .headline {
  background-color: #fff;
  color: #68a09a;
  font-family: 'Quadon Bold',Courier,sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 16px 10px 10px;
  margin: -33px 40px 0 0;
  line-height: 1.2em;
  border-radius: 0 8px 0 0;
  position: relative;
  display: block;
}

.continents .article-location > .content {
  padding: 10px;
}

.continents .article-location .list {
  list-style: disc;
  font-size: 14px;
  margin-left: 20px;
}

.continents .article-location p {
  font-size: 16px;
}

.continents .continents-info {
  position: absolute;
  width: 100%;
  height: 100%;
}

.continents-info .info-inner {
  position: relative;
  height: 100%;
  max-width: 1006px;
  margin: 0 auto;
  z-index: 10;
}

.continents-info .info-white,
.continents-info .info-black,
.continents-info .info-location {
  position: absolute;
  display: inline-block;
}

.continents-info .info-white,
.continents-info .info-black {
  left: 50%;
  font-family: 'Quadon Regular',Courier,sans-serif;
  white-space: nowrap;
}

.continents-info .info-location {
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px 110px 25px 70px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.continents-info .info-location h1,
.continents-info .info-location p,
.continents-info .info-location a {
  font-family: "Flama Book",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
}

.continents-info .info-location h1 {
  font-size: 95px;
  margin: 10px 0;
}

.continents-info .info-location p {
  margin: 0;
}

.continents-info .info-location a {
  margin-right: 5px;
  text-decoration: underline;
}

.continents-info .info-white {
  background-color: #fff;
  padding: 2px 50px;
  font-size: 30px;  
  z-index: 10;
  -webkit-transform: translate(-50%, 25px);
      -ms-transform: translate(-50%, 25px);
          transform: translate(-50%, 25px);
}

.continents-info .info-black {
  background-color: #000;
  padding: 0 20px;
  color: #fff;
  font-size: 75px;
  line-height: 1.2em;
  -webkit-transform: translate(-50%, 65px);
      -ms-transform: translate(-50%, 65px);
          transform: translate(-50%, 65px);
}

.continents .map-header {
  background-color: #0ea5bb;
  background-image: url(../images/globe_map_header.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 195px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.continents .map-region {
  background-color: #d4d4d4;
  background-size: 240px 240px;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 350px;
  margin: 14px 0 0;
  padding: 20px;
  text-align: center;
}

.continents .map-header,
.continents .map-region h2 {
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-size: 36px;
  color: #0ea5bb;
}

.continents .map-header ol,
.continents .map-region ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Flama Book",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.continents .map-header .more-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 60px;
}

.continents .map-header .header-list-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
  width: 50%;
}

.continents .map-header .more {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.continents .map-header .more-to-do,
.continents .map-header .more-location {
  display: block;
  line-height: 1em;
}

.continents .map-header .more-to-do {
  font-size: 22px;
}

.continents .map-header .more-location {
  font-size: 60px;
}

.continents .map-header {
  color: #fff;
}

.continents .map-region-africa {
  background-image: url(../images/globe_africa.gif);
}
.continents .map-region-asia {
  background-image: url(../images/globe_asia.gif);
}
.continents .map-region-caribbean {
  background-image: url(../images/globe_caribbean.gif);
}
.continents .map-region-europe {
  background-image: url(../images/globe_europe.gif);
}
.continents .map-region-australia {
  background-image: url(../images/globe_australia.gif);
}
.continents .map-region-latin {
  background-image: url(../images/globe_latin.gif);
}

.continents .carousel-wrapper {
  position: relative;
  background-color: #7f7f7f;
  padding-top: 33px; 
}

.continents .carousel {
  background-color: #232323;
}

.continents .carousel-control {
  color: #888;
  width: 55px;
  z-index: 20;
}

.continents .carousel-inner > .item > a > img, 
.continents .carousel-inner > .item > img {
  margin: auto;
}

.local-experts .social-share-list {
  margin-top: 0px;
}

.local-experts-info p {
  max-width: 780px;
  margin: 0 auto;
  font-family: "Questa Regular",Georgia,serif;
  font-weight: 300;
}

.local-experts .local-experts__pre_title {
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 190px;
  background-color: #000;
  padding: 0 100px;
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-weight: 300;  
  font-size: 2.4rem;
  white-space: nowrap;
  color: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.local-experts .local-experts__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 85px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-weight: 700;  
  font-size: 4.8rem;
  text-align: center;
  line-height: 1.125;
  color: #fff;
  z-index: 10; 
}

.local-experts .article-wrapper .main-column {
  padding-right: 360px;
}

.local-experts .article-wrapper .right-column {
  position: absolute;
  width: 330px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 30px 30px;
}

.le-article {
  margin-bottom: 50px;
}

.le-article .location {
  display: inline-block;
  margin: 10px 0 0;
  font-family: "Flama Book",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.le-article .name {
  margin: 0;
  font-family: 'Quadon Bold',Courier,sans-serif;
  font-weight: 700;  
  font-size: 25px;
  line-height: 1.2em;
}

.le-article p,
.le-article a {
  margin: 0;
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-weight: 700;  
  font-size: 14px;
  color: #68a09a;
}

.local-experts-article .intro,
.local-experts-article .info {
  margin: 30 auto;
  width: 100%;
  max-width: 1100px;
}

.local-experts-article .local-experts__pre_title {
  font-size: 1.65rem !important;
  padding: 0 50px;
  bottom: 210px;
}

.local-experts-article .profile-wrapper {
  position: relative;
  overflow: hidden;
}

.local-experts-article .profile {
  position: relative;
  float: left;
}

.local-experts-article .local-social-share {
  position: relative;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

.local-experts-article .profile-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.local-experts-article .profile-text {
  position: relative;
  padding-left: 80px;  
}

.local-experts-article .profile p {
  color: #232323;
  font-family: "Flama Book",Helvetica,Arial,sans-serif;
  margin: 0;
}

.local-experts-article .profile span {
  color: #5e6c6b;
  font-family: "Questa Regular",Georgia,serif;
  font-style: italic;
}

.local-experts-article .article-image-caption {
  background: none;
  color: #fff;
  font-family: 'Quadon Regular',Courier,sans-serif;
  text-align: center;
}

.local-experts-article .articles {
  padding: 0 70px;
}

.local-experts-article .main-column {
  width: 100%;
  padding-right: 360px;
  padding-left: 20px;
}

.local-experts-article .right-column {
  position: absolute;
  width: 330px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 70px 30px 30px 30px;
}

.local-experts-article .article-local-experts-wrapper .more-content-hd:before,
.local-experts-author .more-content-hd:before {
  display: none;
}

.local-experts-article .local-article-image {
  position: relative;
  float: left;
  padding: 37px 20px 20px 0;
}

.local-experts-article .local-article:not(:last-child) {
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d4d3;
}

.local-experts-article .local-article-content {
  position: relative;
  padding-left: 180px;
}

.local-experts-article .local-article-content h2,
.local-experts-article .local-article-content h3,
.local-experts-article .local-article-content h4 {
  font-family: 'Quadon Regular',Courier,sans-serif;
}

.local-experts-article .local-article-content p {
  line-height: 1.8em;
  margin-top: 0.5em;
}

.local-experts-article .local-article-number {
  position: absolute;
  background: #000;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  right: 10px;
  top: 20px;
}

.local-experts-article .local-article-number span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-family: 'Quadon Regular',Courier,sans-serif;
  font-size: 26px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.local-experts-author .social-share-list {
  margin-top: -70px;
}

.local-experts-author .intro {
  margin: 30 auto;
  width: 100%;
  max-width: 1100px;
}

.local-experts-author .intro span,
.local-experts-author .intro h1 {
  font-family: 'Quadon Regular',Courier,sans-serif;
}

.local-experts-author .intro span {
  font-size: 20px;
}

.local-experts-author .intro h1 {
  margin-top: 0;
}

.local-experts-author .more-content-hd {
  text-align: left;
}

.local-experts-author .more-content-hd__inner {
  padding-left: 15px;
}

.local-experts-author .tip-article {
  margin-bottom: 40px;
  background-color: #000;
}

.local-experts-author .tip-article img {
  opacity: .4;
}

.local-experts-author .tip-article:hover img {
  opacity: .6;
}

.local-experts-author .tip-article .article-image-caption {
  font-family: 'Quadon Regular',Courier,sans-serif;
  background: none;
}

.local-experts-author .tip-article .article-image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

@media (max-width: 1199px) {
  .continents .map-regions .main-column {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .separator .more-content-hd {
    margin-left: -15px;
    margin-right: -15px;  
  }

  .local-experts .page-container,
  .local-experts-article .page-container,
  .local-experts-author .page-container {
    padding-left: 0;
    padding-right: 0;
  }

  .continents .article-wrapper .main-column,
  .cityguide .article-wrapper .main-column,
  .local-experts .article-wrapper .main-column {
    padding-right: 0;
  }

  .local-experts .article-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }

  .continents-info .info-white,
  .continents-info .info-black {
    display: none;
  }

  .continents-info .info-location {
    width: 100%;
    text-align: center;
    padding: 30px 0 25px 0;
  }

  .continents-info .info-location h1 {
    font-size: 75px;
  }

  .cityguide .article-wrapper,
  .continents .article-wrapper {
    margin: 0 auto;
  } 

  .cityguide .article-wrapper {
    max-width: 640px;    
  }

  .continents .map-header .more-location {
    font-size: 50px;
  }

  .local-experts-author .intro,
  .local-experts-article .intro, 
  .local-experts-article .info {
      margin: 30px 0 0;
  }

  .local-experts-article .local-social-share {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    text-align: center;
    margin: 10px 10px 0 0;
  }

  .local-experts-article .local-social-share .guide-social-share {
    display: inline-block;
  }

  .local-experts .local-experts__pre_title {
    font-size: 2.2rem;
    bottom: 210px;
  }

  .local-experts .local-experts__title {
    bottom: 105px;
  }

  .local-experts-author .articles-main-column div[class^=col-]:not(:first-child):nth-child(n+1):nth-child(-n+4) {
    clear: left;
  }

  .local-experts .articles .banner-right-column {
    height: 950px;
  }

  .local-experts:not(.local-experts-article) .social-share-list {
    margin-top: -100px;
  }

  .clear-left-md {
    clear: left;
  }
}

@media (min-width: 980px) {
  .cityguide .one-up-nav,
  .continents .one-up-nav {
    width: 100%;
  }

  .cityguide .page-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cityguide .page-container,
  .continents .page-container {
    margin-left: 3.5%;
    margin-right: 3.5%;
  }
}

@media (max-width: 768px) {
  .cityguide .article-wrapper {
    max-width: 640px;
  }

  .local-experts-article .local-article-image {
    position: relative;
    float: left;
    width: 100px;
    padding-top: 24px;
  }

  .local-experts-article .local-article-number {
    width: 40px;
    height: 40px;
    top: 10px;
  }

  .local-experts-article .local-article-number span {
    font-size: 20px;
  }

  .local-experts-article .local-article-content {
    padding-left: 100px;
  }

  .local-experts-article .local-article-content p {
  }

  .local-experts .social-share-list__icon {
    height: 32px;
    width: 32px;
    font-size: 0.8888888889rem;
  }
  .local-experts .social-share-list__icon:before {
    line-height: 23px;
  }

}


@media (max-width: 739px) {
  .local-experts-article .main-column {
    padding-right: 0;
    padding-left: 0;
  }

  .local-experts-article .profile-image {
    width: 40px;
    height: 40px;
  }

  .local-experts-article .profile-text {
    font-size: 14px;
    padding-left: 50px;
  }

  .local-experts .article-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .local-experts .articles div[class^=col-] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .local-experts-author .intro div[class^=col-],
  .local-experts-author .articles div[class^=col-] {
    padding-left: 7px;
    padding-right: 7px;
  }

  .local-experts-author .articles {
    padding: 0 30px;
  }

  .local-experts-author .intro {
    width: auto;
    max-width: none;
    margin: 15 -10px 0 -10px;
  }

  .local-experts-author .intro h1 {
    font-size: 2.3rem;
  }

  .local-experts-author .article-local-experts-tip {
    margin-bottom: 20px;
  }

  .local-experts-article .local-article:not(:last-child) {
    border: none;
    padding-bottom: 0;
  }

  .article-local-experts .name {
    font-size: 20px;
  }

  .article-local-experts p {
    font-size: 12px;
  }

  .pad-bottom {
    padding-bottom: 20px;
  }

  .intro,
  .info {
    margin: 0 5px;
  }

  .continents-info .info-location h1 {
    font-size: 30px;
  }

  .continents-info .info-location p {
    font-size: 14px;
  }

  .cityguide .one-up-nav,
  .continents .one-up-nav {
    width: 100%;
  }

  .cityguide .wb-page-header,
  .continents .wb-page-header {
    margin-left: 0;
    margin-right: 0;
  }

  .local-experts .local-experts__pre_title {
    font-size: 1.4rem !important;
    padding: 0 40px;
    top: 100px;
    bottom: auto;
  }
  .local-experts:not(.local-experts-article) .local-experts__pre_title {
    font-size: 1.4rem;
  }

  .local-experts .local-experts__title {
    font-size: 3.5rem;
    top: 140px;
    bottom: auto;
  }

  .local-experts-author .local-experts__title {
    font-size: 4rem;
    bottom: 105px;
  }

  .local-experts-author .intro span {
    font-size: 16px;
  }

  .local-experts-author .intro h1 {
    font-size: 1.7rem;
  }

  .local-experts-author .tip-article {
    margin-bottom: 20px;
  }

}

@media (min-width: 739px) {
  .cityguide .one-up-nav,
  .continents .one-up-nav {
    border: none;
    margin: 0 auto;
  }
}

@media (min-width: 1395px) {
  .clear-left-lg {
    clear: left !important;
  }  
}

@media (min-width: 1200px) {
  .clear-left-lg {
    clear: left !important;
  }  
}
@media (max-width: 1199px) and (min-width: 992px) {
  .clear-left-md {
    clear: left !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .clear-left-sm {
    clear: left !important;
  }  
}
@media (max-width: 767px) {
  .clear-left-xs {
    clear: left !important;
  }  
}